# interface to Aliroot framework
QnCorrectionsInterface
AliQnCorrections

# ECLIPSE project files
.cproject
.project

# binary files
*.d
*.so
*.root

# log files
*.log

# the HTML output of doxygen
HTML/

# text files backup
*.txt~
*.sh~
*.cxx~
*.h~
*.C~
*.H~

